
.sapUiMedia-Std-Desktop .sapUShellApplicationContainer.sapUShellApplicationContainerLimitedWidth {
width: 100% !important;
}
.TextSize.sapMText {
    font-size: 1rem !important;
}
.PageH.sapMIBar-CTX .sapMTitle {
    color: #042fa9;
    font-weight: bold;
}
.BoldFont{
	font-weight: bold !important;	
}
.PageH .sapMIBar.sapMHeader-CTX {
	background-color: #d1e1f1;
}
.filterbtn{
    margin-right: 6rem;
    margin-top: 2rem;
}
.TableToolbar.sapUiSizeCompact .sapMTB {
    height: 6rem;
}
.btnBgGreen .sapMBtnInner{
	background-color: #2b7d2b !important;
	text-shadow	    : none;
}
.btnEllipseGreen .sapMBtnInner{
	border-radius: 2em;
	border		 : 1px solid #2b7d2b !important;
}
.btnEllipse .sapMBtnInner{
	border-radius: 2em;	
}
.btnBgBlue .sapMBtnInner{
	background-color: #346187 !important;
	text-shadow	    : none;
}
.btnEllipseBlue .sapMBtnInner{
	border-radius: 2em;
	border		 : 1px solid #346187 !important;
}
.btnColorSizeWhite .sapMBtnContent {
	color	   : #ffffff;
	font-size  : 1rem !important;
}
.input .sapMInputBaseContentWrapper {
    border-radius: 0.4rem;
}
.Hb1Filters {
	margin-right: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
.Hb2Filters {
	margin-right: 1.5rem;
    margin-bottom: 0.5rem;
}
.MR1 {
	margin-right: 1rem;	
}
.MT1 {
	margin-top: 1rem;	
}
.MB05{
	margin-bottom: 0.5rem;
}
.ML2{
	margin-left: 2rem;
}
.vbButs {
    margin-right: 3rem;
    margin-top: 1rem;
}
.FilterBar {
    margin-right: 1rem;
    margin-top: 1rem;
}
.btnBgTransparent .sapMBtnInner:hover {
    background-color: #0270cf !important;
    border-radius: 2em;
    border: 1px solid #0270cf !important;
}
.btnBgTransparent .sapMBtnInner:hover .sapMBtnContent{
   color	   : #ffffff;
}
.btnBgTransparent .sapMBtnInner:hover .sapMBtnIcon{
   color	   : #ffffff;
}
.btnColorSizeWhite .sapMBtnIcon {
	color	   : #ffffff;
	font-size  : 1rem !important;
}
.btnColorSizeWhite .sapMBtnContent {
	color	   : #ffffff;
	font-size  : 1rem !important;
}
.NavBtn .sapMBtnInner {
    background-color: transparent;
    border: none;
    color: #333;
}
.NavBtn .sapMBtnInner:hover {
    background-color: transparent !important;
}
.sapMBtnInner {
    font-size: 1rem !important;
}
.sapMLabel {
	font-size: 1rem !important;
}
.sapMText {
	font-size: 1rem !important;
}
.sapSuiteStackedMCBarSemanticColorNeutral {
    background-color: transparent !important;
}
.BarMicroChart .sapSuiteStackedMCBar{
    border-left: none !important;
}
.sapSuiteStackedMCBar[data-deviation="X"] {
    border-left: 2px solid #000000 !important;
}
.sapSuiteStackedMC .sapSuiteStackedMCBar {
    min-width: 0rem !important;
}